body{
    font-family: Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #e6e6e6;
}
/*通用样式*/
*{
    padding: 0px;
    margin: 0px;
}
ul,li{
    list-style: none;
}
a,a:active{
    color: #444;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.clear{
    clear: both;
}

/*header*/
#header{
    margin-bottom: 50px;
}
#navList li{
    float: left;
    padding-right: 40px;
}
#blogTitle{
    margin-bottom: 30px;
}
#blogTitle h1 {
    font-size: 26px;
    font-weight: bold;
    line-height: 1.5em;
    margin-top: 20px;
}
#blogTitle h2{
    font-size: 13px;
    color: #999;
    font-weight: normal;
}
#blogTitle h1 a{
    color: #515151;
    text-decoration: none;
}
#blogTitle h1 a:hover {
    color: #21759b;
}
#navigator{
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    height: 50px;
    line-height: 50px;
}
#navigator a{
    font-size: 13px;
    color: #6a6a6a;
    font-weight: bold;
}
#navigator a:hover {
    color: #000;
    text-decoration: none;
}

/*home*/
#home{
    margin: 0 auto;
    width: 65%;
    min-width: 950px;
    background-color: #fff;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

/*侧边栏*/
#sideBar{
    margin-left: 30px;
    float: left;
    width:15%;
}
.sidebar_column{
    font-size:13px;
    margin-bottom: 30px;
    line-height: 1.5;
}
.sidebar_column ul{
    margin-top:10px;
}
.sidebar_column li{
}
.sidebar_column a{
    color: #757575;
    font-size: 13px;
}
.sidebar_column a:hover {
    color: #21759b;
}
.sidebar_column h3{
    font-size: 14px;
}
.tags{
    background: #eee;
    color: #21759b !important;
    padding: 2px 4px;
    border-radius: 2px;
    text-decoration: none;
}
.tags:hover{
    text-decoration: none;
}
.tags span{
    vertical-align: super;
    font-size: 0.8em;
}

#postlistTag li{
    float: left;
    margin: 0px 5px 5px 0px;
}
#showListTag li{
    margin:10px 0 10px 0 ;
}
#showListTag a{
    color: #2a7ae2;
    text-decoration: none;
}
#showListTag a:hover{
    color: #DD1144;
    text-decoration: none;
}
#showListTag span{
    margin-left:2%;
}

.img_avatar img{
    border-radius: 50px;
    width: 70px;
    height: 70px;
    margin-left:35%;
    cursor: pointer;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.img_avatar img:hover{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

/*主内容*/
#mainContent{
    float: left;
    width:80%;
}
.postList{
    margin-bottom: 50px;
}
.postDesc{
    padding: 5px 0px 5px 0px;
    font-size: 12px;
    color: #999;
}
#postDescTags a{
    color: #21759b;
    margin-right:7px;
}
.author {
    color: #ee4444;
}
.author a {
    color: #ee4444;
}

/*文章*/
.postTitle{
    padding-bottom: 5px;
    border-bottom: 1px solid #e8e8e8;
    font-weight: normal;
}
.postTitle a{
    padding-top:10px;
    padding-bottom: 10px;
    color: #21759b;
    transition: all 0.4s linear 0s;
    font-size: 20px;
    text-decoration: none;
}
.postTitle a:hover{
    color: #0f3647;
}
.article .content{
    line-height: 2;
}
.article .post-content{
    line-height: 2;
	margin-top:20px;
    margin-bottom: 50px;
}
.post-content a{
	color: #4183C4;
}
.pagination a{
    color: #555;
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.pagination a:hover{
    border-color: #ddd;
    background-color: #eee;
    color: #64a69c;
}
.articletitle{
    border-bottom: 1px dashed #CCC;
	color: #3a87ad;
	padding: 8px 35px 8px 5px;
	border-radius: 5px;
}
.articletitle a{
	color: #3a87ad;
}
.articletitle h1{
    font-size: 20px;
    padding: 5px 0px 5px 0px;
}
.articletitle h1 a{
    text-decoration: none;
}
#catalog{
	font-size: 13px;
	max-width: 250px;
	float: right;
	margin-left: 10px;
	border-left: 5px solid #D6DBDF;
	padding: 5px 0px 5px 5px;
}
#catalog p{
	font-weight:bold;
	font-size:14px;
}
.anchor-h1{
	font-weight:bold;
}
.anchor-h2{
	margin-left:20px;
}

/*footer*/
#footer {
    color: #686868;
    text-align: center;
    min-height: 15px;
    _height: 15px;
    border-top: 1px solid #ededed;
    margin-top: 50px;
    padding-top: 10px;
    margin-bottom: 10px;
}
#footer a{
    color: #21759b;
}
.actGotop {
	position: fixed;
	_position: absolute;
	bottom: 100px;
	right: 20px;
	width: 54px;
	height: 54px;
	display: none;
}

.actGotop a,.actGotop a:link {
	width: 54px;
	height: 54px;
	display: inline-block;
	background: url(../img/gotopd.gif) no-repeat;
	_background: url(../img/gotopd.gif) no-repeat;
	outline: none;
}


/*多说优化*/
.ds-avatar img{
    border-radius: 50px !important;
    height: 45px !important;
    width: 45px!important;
    cursor: pointer;
    -moz-transition: all 0.5s ease-in-out!important;
    -webkit-transition: all 0.5s ease-in-out!important;
    -o-transition: all 0.5s ease-in-out!important;
    -ms-transition: all 0.5s ease-in-out!important;
    transition: all 0.5s ease-in-out!important;
}
.ds-avatar img:hover{
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.ds-comment-body{
    margin-left:15px !important;
}
.ds-replybox form{
    margin-left:15px !important;
}
.ds-textarea-wrapper{
    -webkit-border-top-left-radius: 5px!important;
    -webkit-border-top-right-radius: 5px!important;
    -moz-border-radius-topleft: 5px!important;
    -moz-border-radius-topright: 5px!important;
    border-top-left-radius: 5px!important;
    border-top-right-radius: 5px!important;
}
#ds-thread #ds-reset .ds-post-options{
    -webkit-border-bottom-left-radius: 5px !important;
    -moz-border-radius-bottomleft: 5px!important;
    border-bottom-right-radius: 5px !important;
}
.ds-powered-by{display: none}
.ds-meta a{
    border-radius: 4px !important;
}
