---
layout: default
---

{% for post in paginator.posts %}
<div class="postList">
    <div class="article">
        <h1 class="postTitle"><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></h1>
        {% if site.comments == true and post.comments == true%}
          <p class="author"><span class="postDesc">{{ post.date | date: "%Y.%m.%d" }} - SevenNight</span><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread">文章评论</a></p>
        {% endif %}
        <div class="content">
			{{ post.excerpt }}
        </div>
    </div>
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="{{ site.baseurl}}/index.html" class="previous">上一页</a>
      {% else %}
        <a href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">上一页</a>
      {% endif %}
  {% endif %}
  <span>{{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
  <a href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">下一页</a>
  {% endif %}
</div>
