---
layout: default
title: sevennight
---

{% for post in paginator.posts %}
<div class="postList">
    <div class="article">
        <h1 class="postTitle"><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></h1>
		<p class="postDesc">
            <span class="icon-user"></span>SevenNight&nbsp;
            <span class="icon-calendar"></span>{{ post.date | date: "%Y-%m-%d" }}&nbsp;
            <span class="icon-price-tags"></span>
            <span id="postDescTags">
                {% for tag in post.tags %}
                    <a href="/show_tag.html?tag={{tag|index}}">{{tag|index}}</a>
                {% endfor %}
                <script type="text/javascript">
                    $(function(){
                        $("#postDescTags a").each(function(){
                            var href = $(this).attr("href").substring(0,$(this).attr("href").lastIndexOf("tag=")+4);
                            var str = $(this).attr("href").split("tag=")[1];
                            var reg = /^([\u4E00-\u9FA5]+，?)+$/;
                            var yesorno = str.match(reg) != null;
                            if (yesorno){
                                $(this).attr("href",href+encodeURIComponent(str).replace(/%/g,""));
                            }
                        });
                    });
                </script>
            </span>
        {% if site.comments == true and post.comments == true%}
            <span class="icon-bubble"></span><a class="author" href="{{ site.baseurl }}{{ post.url }}/#disqus_thread">文章评论</a>
        {% endif %}
		</p>
        <div class="content">
			{{ post.desc }}
        </div>
    </div>
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="{{ site.baseurl}}/index.html" class="previous">上一页</a>
      {% else %}
        <a href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">上一页</a>
      {% endif %}
  {% endif %}
  <span>{{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
  <a href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">下一页</a>
  {% endif %}
</div>
