    <div class="clear"></div>
    <div id="footer">
        <span>©{{site.time | date: "%Y" }}&nbsp;<a href="{{ site.baseurl }}/about.html">SevenNight</a>&nbsp;&nbsp;版权所有</span>
        <span><script src="http://s95.cnzz.com/stat.php?id=1254647875&web_id=1254647875" language="JavaScript"></script></span>
        <span>, 源码托管在 github 上</span>
        <br/>
        <a href="{{site.github}}" style="text-decoration: none;color: #686868"  target="_blank"><span class="icon-github" style="font-size: 25px;"></span></a>
    </div>
</div>
</body>
</html>
