    <div class="clear"></div>
    <div id="footer">
        <span>©{{site.time | date: "%Y" }}&nbsp;<a href="{{ site.baseurl }}/about.html">SevenNight</a>&nbsp;&nbsp;版权所有</span>
        <span><script src="http://s95.cnzz.com/stat.php?id=1254647875&web_id=1254647875" language="JavaScript"></script></span>
        <span>, 源码托管在 Github 上</span>
        <br/>
        <a href="{{site.github}}" style="text-decoration: none;color: #686868"  target="_blank"><span class="icon-github" style="font-size: 25px;"></span></a>
		
		<!-- 返回顶部 -->
		<div class="actGotop"><a href="javascript:;" title="返回顶部"></a></div>
		<script type="text/javascript">
		$(function(){	
			$(window).scroll(function() {		
				if($(window).scrollTop() >= 100){ //向下滚动像素大于这个值时，即出现小火箭~
					$('.actGotop').fadeIn(300); //火箭淡入的时间，越小出现的越快~
				}else{    
					$('.actGotop').fadeOut(300); //火箭淡出的时间，越小消失的越快~
				}  
			});
			$('.actGotop').click(function(){$('html,body').animate({scrollTop: '0px'}, 800);}); //火箭动画停留时间，越小消失的越快~
		});
		</script>
		
		
    </div>
</div>
</body>
</html>
