<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">

</head>

<body>
<div id="home">
    <div id="header">
        <div id="blogTitle">
            <h1><a class="headermaintitle" href="{{ site.baseurl }}">{{ site.name }}</a></h1>
            <h2></h2>
        </div>
        <div id="navigator">
            <ul id="navList">
                <li><a  class="menu" href="{{ site.baseurl }}/">首页</a></li>
                <li><a class="menu" href="{{ site.baseurl }}/links.html">链接</a></li>
                <li><a class="menu" href="{{ site.baseurl }}/archive.html">文章</a></li>
                <li><a class="menu"  href="{{ site.baseurl }}/about.html">作者简介</a></li>
                <li><a class="menu" href="{{ site.baseurl }}/feed.xml">RSS</a>
                {% if site.github != '' %}
                    <li><a  class="menu" href="https://github.com/{{ site.github }}">Github</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
