<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% if page.title == null %}{{site.title}}{% else %}{{page.title}}{% endif %}
    </title>
    <meta name="author" content="{{ site.author.name }}">
    
    <script src="http://libs.baidu.com/jquery/1.8.3/jquery.js"></script>
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/icon/style.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css/pygments.css">
	
    <!--[if lt IE 8]><!-->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/icon/ie7/ie7.css">
    <!--<![endif]-->
</head>

<body>
<div id="home">
    <div id="header">
        <div id="blogTitle">
            <h1><a class="headermaintitle" href="{{ site.baseurl }}">{{ site.author.name }}</a></h1>
            <h2>{{ site.signature }}</h2>
        </div>
        <div id="navigator">
            <ul id="navList">
                <li><a class="menu" href="{{ site.baseurl }}/">首页</a></li>
                <li><a class="menu" href="{{ site.baseurl }}/links.html">链接</a></li>
                <li><a class="menu" href="{{ site.baseurl }}/archive.html">文章</a></li>
                <li><a class="menu"  href="{{ site.baseurl }}/about.html">作者</a></li>
                <li><a class="menu" href="{{ site.baseurl }}/feed.xml">RSS</a>
            </ul>
        </div>
    </div>
