<!-- 说明 -->
<div class="sidebar_column">
    <div>
        <!--<div class="img_avatar"><img src="{{ site.baseurl}}/img/7yelogo.jpg"></div>-->
		<script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=16897672194215843831' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>
        {{ site.description }}
    </div>
</div>

<!--最新文章-->
<div class="sidebar_column">
    <div>
        <h3>最新文章</h3>
        <ul>
            {% for post in site.posts limit:5 %}
              <li><a href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

<!-- 标签 -->
<div class="sidebar_column">
    <h3></span>标签</h3>
    <div>
        <ul id="postlistTag">
            {% for tag in site.tags %}
                <li><a class="tags" href="/show_tag.html?tag={{ tag[0] }}">{{tag[0]}}&nbsp;<span>{{ tag | last | size }}</span></a></li>
            {% endfor %}
            <script type="text/javascript">
                $(function(){
                    $("#postlistTag li").each(function(){
                        var href = $(this).find("a").attr("href").substring(0,$(this).find("a").attr("href").lastIndexOf("tag=")+4);
                        var str = $(this).find("a").attr("href").split("tag=")[1];
                        var reg = /^([\u4E00-\u9FA5]+，?)+$/;
                        var yesorno = str.match(reg) != null;
                        if (yesorno){
                            $(this).find("a").attr("href",href+encodeURIComponent(str).replace(/%/g,""));
                        }
                    });
                });
            </script>
        </ul>
    </div>
</div>
<div class="clear" style="padding-bottom: 30px;"></div>

<!-- 链接 -->
<div class="sidebar_column">
    <div>
        {% include links-list.html %}
    </div>
</div>

