{% include header.html %}

<div id="main">
    <div id="mainContent">
        <div class="article">
            <div class="well">
				<div class="articletitle">
					<h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.title }}</a></h1>
					<p class="postDesc">
                        <span class="icon-user"></span>SevenNight&nbsp;
                        <span class="icon-calendar"></span>{{ page.date | date: "%Y-%m-%d" }}&nbsp;
                        <span class="icon-price-tags"></span>
                        <span id="postDescTags">
                            <script type="text/javascript">
                                //添加标签
                                var list ='{% for tag in page.tags %}<a href="/show_tag.html?tag='+(encodeURIComponent("{{tag|index}}")).replace(/%/g,"")+'">{{tag|index}}</a>{% endfor %}';
                                $("#postDescTags").html(list);0
                            </script>
                        </span>
					{% if site.comments == true and page.comments == true %}
                        <span class="icon-bubble"></span><a class="author" href="#disqus_thread">文章评论</a>
					{% endif %}
					</p>
				</div>
                <div class="post-content">
                    {{ content }}
                </div>
                <!--cnzz tui-->
                <script  type="text/javascript" c=gd  charset="utf-8"  src="http://tui.cnzz.net/cs.php?id=1000091890"></script>
                <!--cnzz tui-->
                {% if page.comments %}
                <div id="disqus_thread">
                    <!-- 多说评论框 start -->
                    <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="http://7ye.xyz{{ page.url }}"></div>
                    <!-- 多说评论框 end -->
                    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                    <script type="text/javascript">
                        var duoshuoQuery = {short_name:"sevennight"};
                        (function() {
                            var ds = document.createElement('script');
                            ds.type = 'text/javascript';ds.async = true;
                            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                            ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0]
                                    || document.getElementsByTagName('body')[0]).appendChild(ds);
                        })();
                    </script>
                    <!-- 多说公共JS代码 end -->
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="sideBar">
        {% include sidebar.html %}
    </div>
</div>
{% include footer.html %}
