{% include header.html %}

<div id="main">
    <div id="mainContent">
        <div class="article">
            <div class="well">
				<div class="articletitle">
					<h1><a href="{{ site.baseurl}}{{ page.url }}">{{ page.title }}</a></h1>
					<p class="postDesc">
                        <span class="icon-user"></span>SevenNight&nbsp;
                        <span class="icon-calendar"></span>{{ page.date | date: "%Y-%m-%d" }}&nbsp;
                        <span class="icon-price-tags"></span>
                        <span id="postDescTags">
                            <script type="text/javascript">
                                //添加标签
                                var list ='{% for tag in page.tags %}<a href="/show_tag.html?tag='+(encodeURIComponent("{{tag|index}}")).replace(/%/g,"")+'">{{tag|index}}</a>{% endfor %}';
                                $("#postDescTags").html(list);
                            </script>
                        </span>
					{% if site.comments == true and page.comments == true %}
                        <span class="icon-bubble"></span><a class="author" href="#disqus_thread">文章评论</a>
					{% endif %}
					</p>
				</div>
                <div class="post-content">
					<div id="catalog"></div>
                    {{ content }}
                </div>
                {% if page.comments %}
                <div id="disqus_thread">
                    <!-- 多说评论框 start -->
                    <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{ page.title }}" data-url="http://7ye.xyz{{ page.url }}"></div>
                    <script type="text/javascript">
                        var duoshuoQuery = {short_name:"sevennight"};
                        (function() {
                            var ds = document.createElement('script');
                            ds.type = 'text/javascript';ds.async = true;
                            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                            ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0]
                                    || document.getElementsByTagName('body')[0]).appendChild(ds);
                        })();
                    </script>
                    <!-- 多说公共JS代码 end -->
                </div>
                {% endif %}
                {% if site.catalog == true and page.catalog == true %}
                    <!--目录结构生成-->
    				<script type="text/javascript">
    					$(document).ready(function() {
    						//生成目录
    						x = $(".post-content").find("h1,h2");
    						n = 0;
    						c = "";
    						x.each(function() {
    							$(this).before("<a name='anchor" + n + "'></a>");
    							if ($(this).prop('tagName') == "H1") //不可用"h1"
    							{
    								c=c+"<a href='#anchor"+n+"' class='anchor-h1'>"+$(this).text()+"</a><br/>";
    							}
    							else {
    								c=c+"<a href='#anchor"+n+"' class='anchor-h2'>"+$(this).text()+"</a><br/>";
    							}
    							n = n + 1;
    						});
    						$("#catalog").html('<p>目录结构：</p>'+c);
    					});
    				</script>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="sideBar">
        {% include sidebar.html %}
    </div>
</div>
{% include footer.html %}
